<!-- dev: Francesco Cimino; -->
<!-- proj: Boolzapp; -->
<!-- lang: html; -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links-section -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css -->

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /vue -->
    
    <!-- luxon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js" integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- /luxon -->

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /font-awesome -->

    <!-- title -->
    <title>Boolzap</title>
    <!-- /title -->

    <!-- /links-section -->

</head>

<body>
    <div id="root">
        <!-- container -->
        <div class="container">

            <!-- sidebar-section -->
            <div class="sidebar">
                <div class="header-sidebar">

                    <div class="user-info">

                        <div class="user">
                            <img src="img/avatar_1.jpg" alt="user photo">
                            <h2>Francesco Cimino</h2>
                        </div>

                        <ul class="icons">
                            <li @click="switchMode()">
                                <div id="icon-switch-mode" :class="{'dark' : darkTheme}">
                                    <div class="light-mode">
                                        <i class="fa-solid fa-sun"></i>
                                    </div>

                                    <div class="dark-mode">
                                        <i class="fa-solid fa-moon"></i>
                                    </div>

                                </div>
                            </li>

                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>

                    </div>
                    <!-- /user-info -->

                    <!-- banner-section -->
                    <div class="bnr-notification">

                        <div class="icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="bnr-description">
                            <h3>Receive notifications of new messages</h3>
                            <a>Enable desktop notifications</a>
                        </div>

                    </div>

                    <!-- search-bar-section -->
                    <div class="search-bar">
                        <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <label for="search-chat">Search or start a new chat</label>
                        <input type="text" id="search-chat" placeholder="Search or start a new chat" @keyup="chatFilter()" v-model.trim="chatStringFilter">
                    </div>
                    <!-- search-bar-section -->

                </div>

                <div class="main-sidebar-structure">
                    <ul class="users-chat-list">

                        <li 
                        class="chat-item" 
                        :class="{'active' : currentChat === index}" 
                        v-for="(contact, index) in contacts"
                        @click="currentChat = index"
                        v-show="contact.visible"
                        >
                            <div class="user-photo">
                                <img 
                                :src="`img/avatar${contact.avatar}.jpg`" 
                                :alt="`photo ${contact.name}`">
                            </div>

                            <div class="info-chat">
                                <h3>{{ contact.name }}</h3>
                                <p v-if="contact.messages.length > 0" id="last-message">{{ contact.messages[contact.messages.length - 1].message }}</p>
                                <p v-else>No recent messages</p>
                                <p id="last-hour" v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length - 1].date }}</p>
                            </div>
                        </li>

                        <li v-if="contactNotFound" class="contact-not-found">
                            <p>Contact not present</p>
                        </li>

                    </ul>
                </div>

                <div class="sidebar-footer-section">

                    <button id="add-chat" @click="openPopup = true">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <div id="popup-add" v-if="openPopup">
                        <button class="close" @click="closePopupAdd()"><i class="fa-solid fa-xmark"></i></button>

                        <label for="user-name-chat">Enter name</label>
                        <input type="text" id="user-name-char" placeholder="Enter user name" v-model="newContact.name">

                        <label for="icon-link">Enter avatar link</label>
                        <input type="text" id="icon-link" placeholder="Enter avatar link" v-model="newContact.avatar" @keyup.enter="newChat()">
                        
                        <div class="wrong-data"><p v-if="wrongData">Not data found</p></div>

                        <button class="add" @click="newChat()">Add new one</button>
                    </div>
                </div>
            </div>
            <!-- sidebar-section -->

            <!-- chat-section -->
            <div class="wrapper-chat-section">
                <div class="header-chat">
                    <div class="user-info">
                        <img 
                        v-if="contacts.length > 0"
                        :src="`img/avatar${contacts[currentChat].avatar}.jpg`" 
                        :alt="`Photo ${contacts[currentChat].name}`">

                        <div class="user-description">
                            <h3 v-if="contacts.length > 0">{{ contacts[currentChat].name }}</h3>
                            <p v-if="contacts.length > 0">{{ contacts[currentChat].state}}</p>
                        </div>

                    </div>

                    <ul class="icons">
                        <li><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li><i class="fa-solid fa-paperclip"></i></li>
                        <li class="settings-icon">
                            <i class="fa-solid fa-ellipsis-vertical"></i>

                            <ul id="dropdown">
                                <li @click="deleteAllMessage()">Delete all message</li>
                                <li @click="deleteChat()">Delete chat</li>
                            </ul>
                        </li>
                    </ul>

                </div>

                <div class="main-chat">
                    <ul class="message-list" v-if="contacts.length > 0">

                        <li 
                        class="message-item" 
                        :class="chat.status"
                        v-for="(chat, index) in contacts[currentChat].messages"
                        v-if="contacts[currentChat].messages.length > 0"
                        >
                            <p>{{ chat.message }}</p>
                            <span id="message-time">{{ chat.date.substring(10,16)}}</span>
                            <div id="menu-message">
                                <i class="fa-solid fa-chevron-down"></i>

                                <ul id="dropdown">
                                    <li @click="deleteMessage(index)">Delete Message</li>
                                    <li>Info</li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>

                <div class="footer-chat">

                    <div class="icon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="user-message-input">
                        <label for="user-message">Write a new message...</label>
                        <input 
                        type="text" 
                        id="user-message" 
                        placeholder="Write a new message..." 
                        v-model.trim="userMessage"
                        @keyup.enter="newUserMessage"
                        >
                    </div>

                    <div 
                    class="icon"
                    v-if="userMessage.length > 0"
                    @click="newUserMessage">
                        <i class="fa-solid fa-paper-plane"></i>
                    </div>

                    <div class="icon" v-else>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
            <!-- /chat-section -->

        </div>
        <!-- /container -->

    </div>

    <!-- js -->
    <script src="js/script.js"></script>
    <!-- /js -->

</body>
</html>